{% extends 'base.html' %}

{% block content %}

 
<section class="updateform">
  <div class="columns">
  <div class="column is-2"></div>
  <div class="column is-8">
    <p><br><h3 class="title is-3">Update Ticket</h3></p>
    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="field">
        <label for="id_category" class="label">Category</label>
        <div class="select">
          <select name="category" id="id_category" required>
            {% if ticket.category == 'ELE' %}
            <option selected value="{{ ticket.category }}">Electric</option>
            <option value="PLU">Plumbing</option>
            <option value="LIG">Light Fixtures</option>
            <option value="HAC">Heating - AC</option>
            <option value="ELV">Elevators</option>
            <option value="DOR">Doors & Locks</option>
            <option value="WIN">Windows</option>
            <option value="FLR">Floors</option>
            <option value="EXT">Exterminator</option>
            <option value="OTR">Other</option>
            {% elif ticket.category == 'PLU' %}
            <option value="ELE">Electric</option>
            <option selected value="{{ ticket.category }}">Plumbing</option>
            <option value="LIG">Light Fixtures</option>
            <option value="HAC">Heating - AC</option>
            <option value="ELV">Elevators</option>
            <option value="DOR">Doors & Locks</option>
            <option value="WIN">Windows</option>
            <option value="FLR">Floors</option>
            <option value="EXT">Exterminator</option>
            <option value="OTR">Other</option>
            {% elif ticket.category == 'LIG' %}
            <option value="ELE">Electric</option>
            <option value="PLU">Plumbing</option>
            <option selected value="{{ ticket.category }}">Light Fixtures</option>
            <option value="HAC">Heating - AC</option>
            <option value="ELV">Elevators</option>
            <option value="DOR">Doors & Locks</option>
            <option value="WIN">Windows</option>
            <option value="FLR">Floors</option>
            <option value="EXT">Exterminator</option>
            <option value="OTR">Other</option>
            {% elif ticket.category == 'HAC' %}
            <option value="ELE">Electric</option>
            <option value="PLU">Plumbing</option>
            <option value="LIG">Light Fixtures</option>
            <option selected value="{{ ticket.category }}">Heating - AC</option>
            <option value="ELV">Elevators</option>
            <option value="DOR">Doors & Locks</option>
            <option value="WIN">Windows</option>
            <option value="FLR">Floors</option>
            <option value="EXT">Exterminator</option>
            <option value="OTR">Other</option>
            {% elif ticket.category == 'ELV' %}
            <option value="ELE">Electric</op/option>
            <option value="PLU">Plumbing<tion>
            <option value="LIG">Light Fixtures</option>
            <option value="HAC">Heating - AC</option>
            <option selected value="{{ ticket.category }}">Elevators</option>
            <option value="DOR">Doors & Locks</option>
            <option value="WIN">Windows</option>
            <option value="FLR">Floors</option>
            <option value="EXT">Exterminator</option>
            <option value="OTR">Other</option>
            {% elif ticket.category == 'DOR' %}
            <option value="ELE">Electric</option>
            <option value="PLU">Plumbing</option>
            <option value="LIG">Light Fixtures</option>
            <option value="HAC">Heating - AC</option>
            <option value="ELV">Elevators</option>
            <option selected value="{{ ticket.category }}">Doors & Locks</option>
            <option value="WIN">Windows</option>
            <option value="FLR">Floors</option>
            <option value="EXT">Exterminator</option>
            <option value="OTR">Other</option>
            {% elif ticket.category == 'WIN' %}
            <option value="ELE">Electric</option>
            <option value="PLU">Plumbing</option>
            <option value="LIG">Light Fixtures</option>
            <option value="HAC">Heating - AC</option>
            <option value="ELV">Elevators</option>
            <option value="DOR">Doors & Locks</option>
            <option selected value="{{ ticket.category }}">Windows</option>
            <option value="FLR">Floors</option>
            <option value="EXT">Exterminator</option>
            <option value="OTR">Other</option>
            {% elif ticket.category == 'FLR' %}
            <option value="ELE">Electric</option>
            <option value="PLU">Plumbing</option>
            <option value="LIG">Light Fixtures</option>
            <option value="HAC">Heating - AC</option>
            <option value="ELV">Elevators</option>
            <option value="DOR">Doors & Locks</option>
            <option value="WIN">Windows</option>
            <option selected value="{{ ticket.category }}">Floors</option>
            <option value="EXT">Exterminator</option>
            <option value="OTR">Other</option>
            {% elif ticket.category == 'EXT' %}
            <option value="ELE">Electric</option>
            <option value="PLU">Plumbing</option>
            <option value="LIG">Light Fixtures</option>
            <option value="HAC">Heating - AC</option>
            <option value="ELV">Elevators</option>
            <option value="DOR">Doors & Locks</option>
            <option value="WIN">Windows</option>
            <option value="FLR">Floors</option>
            <option selected value="{{ ticket.category }}">Exterminator</option>
            <option value="OTR">Other</option>
            {% elif ticket.category == 'OTR' %}
            <option value="ELE">Electric</option>
            <option value="PLU">Plumbing</option>
            <option value="LIG">Light Fixtures</option>
            <option value="HAC">Heating - AC</option>
            <option value="ELV">Elevators</option>
            <option value="DOR">Doors & Locks</option>
            <option value="WIN">Windows</option>
            <option value="FLR">Floors</option>
            <option value="EXT">Exterminator</option>
            <option selected value="{{ ticket.category }}">Other</option>
            {% endif %}
          </select>
        </div>
      </div>
      <div class="field">
        <label for="id_priority" class="label">Priority</label>
        <div class="select">
          <select name="priority" id="id_priority" required>
            <option>Please Select a Priority</option>
            {% if ticket.priority == 'L' %}
            <option selected value="L">Low</option>
            <option value="M">Medium</option>
            <option value="H">High</option>
            {% elif ticket.priority == 'M' %}
            <option value="L">Low</option>
            <option selected value="M">Medium</option>
            <option value="H">High</option>
            {% elif ticket.priority == 'H' %}
            <option value="L">Low</option>
            <option value="M">Medium</option>
            <option selected value="H">High</option>
            {% endif %}
           
          </select>
        </div>
      </div>
      <div class="field">
        <label for="id_location" class="label">Location</label>
        <div class="control">
          <input class="input" type="text" name="location" id="id_location" placeholder="Location" required value="{{ ticket.location }}">
        </div>
      </div>
      <div class="field">
        <label for="id_description" class="label">Description</label>
        <div class="control">
          <textarea class="textarea" name="description" id="id_description" placeholder="Description of request" rows="10">{{ ticket.description }}</textarea>
       </div>
      </div>
      <div class="control is-pulled-right">
      <input type="submit" class="button is-link" value="Update">
      </div>

      
    </form>


</div>
              
            </div>
          <div class="column is-2"></div>
  </div>
</section>  
<div class="thanks">
</div> 



{% endblock %}

