
{% extends 'base.html' %}
{% block content %}



<section class="updateform">
  <div class="columns">
  <div class="column is-2"></div>
  <div class="column is-8">
    <p><br><h3 class="title is-3">Change Password</h3></p>
    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="field">
        <label for="id_old_password" class="label">Old Password</label>
        <div class="control">
          <input class="input" type="password" name="old_password" id="id_old_password" placeholder="Password" required>
        </div>
      </div>
      <div class="field">
        <label for="id_new_password1" class="label">New Password</label>
        <div class="control">
          <input class="input" type="password" name="new_password1" id="id_new_password1" placeholder="New Password" required minlength="8">
        </div>
      </div>
      <div class="field">
        <label for="id_new_password2" class="label">Confirm New Password</label>
        <div class="control">
          <input class="input" type="password" name="new_password2" id="id_new_password2" placeholder="Confirm Password" required minlength="8">
        </div>
      </div>
      <div class="control is-pulled-right">
      <input type="submit" class="button is-link" value="Update">
      </div>

      
    </form>


</div>
              
            </div>
          <div class="column is-2"></div>
  </div>
</section>  
<div class="thanks">
  <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
</div>    

{% endblock %}
