{% extends 'base.html' %}
{% block content %}

{% if messages %}
{% for message in messages %}
    <div class="notification" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<br><br>
<section class="loginform2">
  <div class="columns">
  <div class="column is-4"></div>
  <div class="column is-4">
    



    <nav class="panel">
      <p class="panel-heading">
        Login to Your Account
      </p>
    
        
           <div class="form-login">
           
          {% if form.errors %}
           <div class="failed">
            Your username and password didn't match. 
             Please try again.
          </div>
          {% endif %}
            <form id="login-form" method="post" 
                        action="{% url 'login' %}">
                      {% csrf_token %}
              <div class="field">
                <label for="id_username" class="label">Username</label>
                <div class="control has-icons-left">
                  <input type="text" name="username" placeholder="Your Username" class="input" required id="id_username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="id_password" class="label">Password</label>
                <div class="control has-icons-left">
                  <input type="password" name="password" placeholder="*******" class="input" required id="id_password">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <input type="submit" class="button is-danger is-pulled-right" value="Login">
                <input type="hidden" name="next" value="{{ next }}">
              </div>
            </form>    


          </div>      
     
    </nav>
  <div class="column is-4"></div>

  
  </div>
  
</section>
<div class="thanks">
  Special thanks to our Instructors, <b><a href="https://www.linkedin.com/in/chris-ogilvy-243976102/" target="_blank">Chris Ogilvy</a></b> & <b><a href="https://www.linkedin.com/in/matthewmoquin/">Matthew J.Moquin</a></b><br>
  and Jim Clark, Jim Haff, Tara Fenton, Shaw Kitajima<br>
  <br>Developed with <span class="heart"><b>&#10084;</b></span> for GA SEI-9 Project By<br>
  <a href="https://www.linkedin.com/in/junyi-chung-450b5351/" target="_blank">Junyi Chung</a>, <a href="https://www.linkedin.com/in/michael-d-saul/" target="_blank">Michael Saul</a>, <a href="https://www.linkedin.com/in/mustafa.hepekiz/" target="_blank">Mustafa Hepekiz</a>
</class>    



{% endblock %}




