{% extends 'base.html' %}
{% block content %}

<section class="loginform">
  <div class="columns">
  <<div class="column is-4"></div>
  <div class="column is-4">
    


    <nav class="panel">
      <p class="panel-heading">
        Login to Your Account
      </p>
      
        
           <div class="form-login">
             
<!-- Add the login form -->
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn" value="login">
  <input type="hidden" name="next" value="{{ next }}">
</form>
          </div>      
    </nav>
  <div class="column is-4"></div>
  </div>
</section>  


{% endblock %}