{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitFix | Your go to maintenance buddy</title>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    

  {% if user.is_superuser %}
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  {% else %}
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
  {% endif %}
    <div class="navbar-brand">
      <a href="/">
        <img src="https://i.imgur.com/tcpID7o.png" id="logo" alt="GitFix : Your go to maintenance buddy" height="280px">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'about' %}">&nbsp;&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;
        </a>
  
        <a class="navbar-item" href="{% url 'how' %}">
          How it Works?
        </a>

        <a class="navbar-item" href="{% url 'contact' %}">
          &nbsp;&nbsp;&nbsp;Contact&nbsp;&nbsp;
        </a>
  
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if user.is_authenticated %}  
                
                
            <div class="welcome">Welcome, <b>{{ user.username }}</b> nice to see you again &nbsp;&nbsp;</div>  
                 {% if user.is_superuser %}
                 <a class="button is-danger is-small" href="/admin/"><i class="fas fa-sign-out-alt"></i>&nbsp;Super User Area</a>            
                 {% endif %}
                 <a class="button is-warning is-small" href="/logout/"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
            {% else %}
            <a class="button is-danger is-small" href="{% url 'signup' %}"> <i class="fas fa-user-plus"></i>&nbsp;Sign Up</a>
            <a class="button is-light is-small" href="{% url 'home' %}"> <i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </nav>
<section class="intro">
  
  <main>
    {% block content %}
    {% endblock %}
  </main>

  



</section>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>GitFix</strong> by GA SEI Students
    </p>
  </div>
</footer>

</body>
</html>