<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <title>GitFix</title>
</head>
<body>
  <header>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Welcome to GitFix
          </h1>
          <h2 class="subtitle">
            Bla abla bla
          </h2>
        </div>
      </div>
    </section>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer></footer>
</body>
</html>