{% extends 'base.html' %}
{% block content %}


<section class="updateform">
  <div class="columns">
  <div class="column is-2"></div>
  <div class="column is-3">
    <p><br><h3 class="title is-3">How It Works?</h3></p>
    <br>
    How?

    Create an account for free on <b>GitFix</b> in seconds!<br><br>

    If the community that you're living in one of our members, admins will associate your unit with your account.<br><br>

    And you can send all your service requests after then. You can also track, view and edit your tickets!<br><br>

    Let's start! Click <a href="{% url 'signup' %}">HERE</a> to signup!<br><br>

    <b>GitFix</b><br><br>
   </div>
   <div class="column is-5">
    <br><br><br><br><img src="https://s3.envato.com/files/262400903/DSC_6398.jpg">
   </div>
              
            </div>
          <div class="column is-2"></div>
  </div>
</section>  



{% endblock %}


