{% extends 'base.html' %}
{% block content %}


<section class="newtickerform">
    <div class="columns">
    <<div class="column is-2"></div>
    <div class="column is-3">
      <p><br><h3 class="title is-3">New Ticket Form</h3></p>
      <form id="new-ticket-form" method="post" 
                        action="{% url 'create' %}">
                      {% csrf_token %}
                      
                      <div class="field">
        <label class="label">Unit No</label>
        <div class="control">
          <input class="input" type="text" value="UNIT NUMBER FROM DB" disabled>
        </div>
      </div>
      
      <div class="field">
        <label for="id_category" class="label">Category</label>
        <div class="control">
            <div class="select">
                <select name="category" required id="id_category">
                <option value="ELE">Electric Problem</option>
                <option value="PLU">Plumbing Problem</option>
                <option value="LIG">Light Fixtures</option>
              </select></div>
              </div>
      </div>

      <div class="field">
        <label for="id_priority" class="label">Priority</label>
        <div class="control">
            <div class="select">
                <select name="priority" id="id_priority"> 
                  <option value="L">Low Priority</option>
                  <option value="M">Medium Priority</option>
                  <option value="H">High Priority</option>
                </select>
              </div>
        </div>
      </div>

                
              </div>
              <div class="column is-5">
                <p><br><h3 class="title is-3">&nbsp;</h3></p>
                <div class="field">
                    <label for="id_location" class="label">Location</label>
                    <div class="control">
                      <input class="input" type="text" name="location" placeholder="Kitchen, Restroom..." required minlength="10" id="id_location">
                    </div>
                  </div>
                  
                  <div class="field">
                    <label for="id_descripiton" class="label">Description</label>
                    <div class="control">
                        <textarea class="textarea" name="description" placeholder="Details of the request" rows="4" id="id_description"></textarea>

                    </div>
                  </div>


                  <div class="field">
                    <div class="control  is-pulled-right">
                      <label class="checkbox">
                        <input name="permission" type="checkbox" id="id_permission">
                        Permission to enter to my place
                      </label>
                    </div>
                  </div>
                  <div class="control is-pulled-right">
                    <input type="submit" class="button is-link" value="Create">
                    </div>

                </form>
              </div>
            <div class="column is-2"></div>
    </div>




{% endblock %}

