{% extends 'base.html' %}
{% block content %}




<section class="updateform">
    <div class="columns">
    <div class="column is-2"></div>
    <div class="column is-8">

        <p><br><h3 class="title is-3">Detail of Ticket#{{ ticket.id }}</h3></p>

        {% if messages %}
        {% for message in messages %}
            <div class="notification" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                
              <tr>
                <th>TicketID</th>
                <th>Category</th>
                <th>Location</th>
                <th>Date</th>
                <th>Priority</th>
              </tr>
              
            </thead>
            <tbody>
              <tr>
                <td><a href="{% url 'detail' ticket.id %}">{{ ticket.id }}</a></td>
                <td>{{ ticket.category }}</td>
                <td>{{ ticket.location }}</td>
                <td>{{ ticket.date_created }}</td>
                <td> {{ ticket.priority }}</td>
              </tr>
          <tr><td colspan="5">
            {{ ticket.description }}
          </td></tr>   
          <tr><td colspan="5">
            {% for photo in ticket.photo_set.all %}
            <a href="{{photo.url}}" target="_blank"><img class="responsive-img card-panel" src="{{photo.url}}" width="200px" height="auto"></a>
          <br>
          
        <form action="{% url 'unassoc_photo' ticket.id photo.id %}" method="post">
          {% csrf_token %}
        <input type="submit" value="X">
      </form>
     
          {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
          {% endfor %}
          </td></tr>
          <tr><td colspan="5" align="right">
            <a class="button is-info is-small" href="{% url 'tickets_update' ticket.id %}"> <i class="fas fa-edit"></i>&nbsp;Edit Ticket</a>
            <a class="button is-danger is-small" href="{% url 'tickets_delete' ticket.id %}"> <i class="fas fa-trash-alt"></i>&nbsp;Delete Ticket</a>
          </td></tr>                   
             
            </tbody>

    <tr><td colspan="4">Add Photos to Your Ticket</td>
      <td colspan="2">
        

        <form action="{% url 'add_photo' ticket.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
          {% csrf_token %}
          <div class="file has-name is-small is-pulled-right">
            <label class="file-label">
              <input class="file-input" type="file" name="photo-file">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                .jpg .png
              </span>
            </label>
            <input type="submit" class="button is-success is-small is-pulled-right" value="Upload Photo">

          </div>
          
        </form>
        
      </td></tr>
          </table>
       
    
    
        
              </div>
            <div class="column is-2"></div>
    </div>
  </section>  


  
{% endblock %}