{% extends 'base.html' %}
{% block content %}

 
<div class="columns">
    <div class="column is-2"></div>
    <div class="column is-8">
        <div class="columns">
            <div class="column is-3">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>User Info</th>
                    </tr>
                </thead>
            <tbody>
              
                <tr>
                    <td>User Name</td>
                    <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                </tr>
                <tr>
                    <td>Unit Number</td>
                    <td>{{ profile.unit.unit_number }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ profile.user.email }}</td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>{{ profile.phone }}</td>
                </tr>
                
            </tbody></table>
            </div>
            <div class="column is-9">
                
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                      
                      <tr>
                        <th>TicketID</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Priority</th>
                        <th align="center">Status</th>
                      </tr>
                      
                    </thead>
                    <tbody>
                      {% for ticket in tickets %}
                      <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.location }}</td>
                        <td>{{ ticket.date_created }}</td>
                        <td> {{ ticket.priority }}</td>
                        <td align="center"><i class="fas fa-folder-open"></i></td>
                      </tr>
                      {% endfor %}
                      <!-- <tr>
                        <td>00000</td>
                        <td>Restroom</td>
                        <td>09-20-2020</td>
                        <td>Medium</td>
                        <td align="center"><i class="fas fa-tools"></i></td>
                      </tr>
                      <tr>
                        <td>00000</td>
                        <td>Restroom</td>
                        <td>09-11-2020</td>
                        <td>Medium</td>
                        <td align="center"><i class="fas fa-calendar-check"></i></td>
                      </tr>
                      <tr>
                        <td>00000</td>
                        <td>Restroom</td>
                        <td>09-21-2020</td>
                        <td>High</td>
                        <td align="center"><i class="fas fa-window-close"></i></td>
                      </tr> -->
                    </tbody>
                    <tfoot>
                        <tr>
                          <td colspan="5">New Ticket : <i class="fas fa-folder-open"></i>&nbsp;&nbsp;
                            Pending : <i class="fas fa-tools"></i>&nbsp;&nbsp;
                            Done : <i class="fas fa-calendar-check"></i>&nbsp;&nbsp;
                            Cancel : <i class="fas fa-window-close"></i></td>
                        </tr>
                    </tfoot>
                  </table>


            </div>
        </div>
    <div class="column is-2"></div>
</div>




{% endblock %}