{% extends 'base.html' %}

{% block content %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <tbody>
    <tr>
                          
      <td>
          <form action="{% url 'tickets_create' unit.id %}" method="post">
              <!-- Django requires the following for security purposes -->
              {% csrf_token %}
              {{ ticket_form.as_p }}
              <input type="submit" value="Submit!" class="btn">
            </form>
      </td>
  </tr>

</tbody>
{% endblock %}

