{% extends 'base.html' %}

{% block content %}

<section class="updateform">
  <div class="columns">
  <div class="column is-2"></div>
  <div class="column is-8">
    <p><br><h3 class="title is-3">New Ticket</h3></p>
    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="field">
        <label for="id_category" class="label">Category</label>
        <div class="select">
          <select  name="category" id="id_category" required>
            <option>Please Select a Category</option>
            <option value="ELE">Electric</option>
            <option value="PLU">Plumbing</option>
            <option value="LIG">Light Fixtures</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label for="id_priority" class="label">Priority</label>
        <div class="select">
          <select name="priority" id="id_priority" required>
            <option>Please Select a Priority</option>
            <option value="L">Low</option>
            <option value="M">Medium</option>
            <option value="H">High</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label for="id_location" class="label">Location</label>
        <div class="control">
          <input class="input" type="text" name="location" id="id_location" placeholder="Location" required>
        </div>
      </div>
      <div class="field">
        <label for="id_description" class="label">Description</label>
        <div class="control">
          <textarea class="textarea" name="description" id="id_description" placeholder="Description of request" rows="10"></textarea>
       </div>
      </div>
      <div class="control is-pulled-right">
      <input type="submit" class="button is-link" value="Create New Ticket">
      </div>

      
    </form>


</div>
              
            </div>
          <div class="column is-2"></div>
  </div>
</section>  



{% endblock %}

